.middle-b{
    width: 100%;
    height: 550px;
    background-image: linear-gradient(rgb(242 ,242, 242),rgb(250 ,250 ,250));
    position: relative;
}
.title1{
    display: flex;
    justify-content: center;
}
.title1 span{
    font-size: 30px;
    font-family: "Microsoft Yahei";
    font-weight: 600;
    color: rgb(56, 56, 56);
    margin: 12px;
    margin-top: 3vw;
}
.word1{
    display: flex;
    justify-content: center;
}
.word1 span{
    margin: 25px;
}
.word1 span:hover{
    color: rgb(51, 206, 131);
    cursor: pointer;
}
.word1 span:nth-of-type(1){
    color: rgb(51, 206, 131);
}
.bofang{
    width: 125px;
    height: 36px;
    line-height: 36px;
    font-size: 15px;
    position: absolute;
    top: 6.5vw;
    left: 16vw;
    border: solid 0.1px rgb(204, 204, 204);
    border-radius: 3px;
}
.bofang span{
    color: black;
    position: absolute;
    left: 2.5vw;
    vertical-align: middle;
}
.bofang img{
    width: 14px;
    position: absolute;
    top: 10px;
    left: 1vw;
}
.shade{
    margin: 0;
    padding: 0;
    width: 125px;
    height: 36px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    border: solid 0.1px rgb(204, 204, 204);
    border-radius: 3px;
    opacity: 0;
    transition-property: all;
    transition-duration: 0.5s;
}
.bofang:hover .shade{
    opacity: 0.05;
    cursor: pointer;
}
.blank3{
    height: 50px;
    width: 100%;
    background-color: rgb(250, 250, 250);
    position: relative;
}
.blank3 img{
    width: 180px;
    position:absolute;
    top: 20%;
    left:50%;
    transform:translate(-50%,-20%);
    cursor: pointer;
}
.out2{
    position: absolute;
    right: -85px;
    top: 12.5vw;
 }
.out2 img{
    width: 85px;
    transition-property: all;
    transition-duration: 0.8s;
}
.middle-b:hover .out2>img{
    transform: translateX(-85px);
}
.out3{
    position: absolute;
    left: -85px;
    top: 12.5vw;
}
.out3 img{
    width: 85px;
    transition-property: all;
    transition-duration: 0.8s;
}
.middle-b:hover .out3>img{
    transform: translateX(85px);
    cursor: pointer;
}