.top-b{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 60px;
    justify-content: center;
}
.top-b>a{
    text-decoration: none;
    color: black;
    font-family: "Microsoft Yahei";
    align-self: center;
    cursor: pointer;
    margin: 30px;
}
a:hover{
    color: rgb(51, 206, 131);
}
.top-b>span{
    text-decoration: none;
    color: rgb(51, 206, 131);
    font-family: "Microsoft Yahei";
    align-self: center;
    cursor: pointer;
    margin: 30px;
}